@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

$inactive-logger-button-background: #e8e8e8;
$active-logger-button-background: #1e69d0;
$collar-background-color: #f3f3f3;
$collar-border-color: #dadada;

html {
	height: 100%;
}
body {
	overflow: hidden;
	margin:10px;
	height: 100%;
	width:100%;
	font-family: 'Roboto medium, sans-serif';
	font-size: 11px;
}

title {
	font-family: 'Roboto';
	font-size:18pt;
}

.fixedDataTableRowLayout_rowWrapper:hover .public_fixedDataTableCell_main {
	background-color: lightgrey;
	cursor: cell;
}

.hidden {
	display: none !important; }

.fsbl-logger-button.fsbl-logger-button-negative, .fsbl-logger-button-negative {
	background-color: #ee5c5c;
	color: white;
}
.fsbl-logger-button {
	text-align: center;
	font-size: 1em;
	display:inline-block;
	padding: 2px;
	background-color: #e8e8e8;
	cursor: pointer;
	font-weight: 400;
}

.fixedDataTableCellGroupLayout_cellGroup > .public_fixedDataTableCell_main {
	white-space: normal;
}
.logger-not-wrapped .fixedDataTableCellGroupLayout_cellGroup > .public_fixedDataTableCell_main {
	white-space: nowrap;
}
.logger-log-section {
	height: 100%;
}

.flex-column {
	display:flex;
	flex-direction: column;
}
.inline-flex-column {
	display:inline-flex;
	flex-direction: column;
}
.fsbl-logger-button-group {
	border:1px solid $inactive-logger-button-background;
	align-self: flex-end;
}
.filter-logic {
	margin-right: 18px;
}
.fsbl-logger-searchbox {
	display:flex;
	position: absolute;
	bottom: 0;
	background-color: $collar-background-color;
	width: 100%;
	z-index: 100;
	align-items: center;
}
.fsbl-logger-searchbox > div {
	display: flex;
}
/*forces log stacks onto a new line/ */
.message-log-stack {
	display: block !important;
}
.search-box-input-wrapper {
	height:18px;
}
.search-box-match-navigators {
	margin-right: .5em;
	display:flex;
}
.search-box-match-navigators > span, .search-box-cancel-button > span {
	display:flex;
	flex-direction: column;
	align-self: center;
	border:1px solid $collar-border-color;
	background-color: $inactive-logger-button-background;
	width: 25px;
	justify-content: center;
	cursor: pointer;
	color: #848383;
	font-size: 8px;
	height:100%;
	align-items: center;
}

.search-box-cancel-button {
	margin-left: auto;
}
.search-box-cancel-button > span {
	background-color: white;
	padding:0px 4px;
}
.search-box-match-navigators > span:hover,  .search-box-cancel-button > span:hover {
	background-color: gainsboro;
	color: black;
};

.search-box-cancel-button > span {
	width: 100%;
	font-size: 12px;
}

.search-box-match-text {
	display: inline-flex;
	align-items: center;
	color: gray;
	background-color: white;
}

.search-box-text-input input {
	border: 0px;
	height: 16px;
}
.search-box-text-input {
	border: 1px solid $collar-border-color;
}

.fsbl-plaintext-log-message span {
	display: inline-block;
	margin-right:3px;
	white-space: pre-wrap;
}
// .highlighted-message {
// 	position: absolute;
// 	top: 2px;
// 	left: 0;
// }
.fsbl-logger-row-index {
	text-align: right;
}
.fsbl-logger-button-group-label {
	display:flex;
	margin: .5em 0;
	font-weight: 500;
}
.fsbl-log-message {
	user-select: initial;
	word-break: break-all;
}
.fsbl-logger-highlight {
	background-color: #38ff03 !important;
}
.fsbl-logger-search-highlight {
	background-color: yellow !important;
}
.fsbl-logger-row-selected {
	background-color: rgba(0, 126, 255, 0.24) !important;
	border-top: 2px solid;
}
.fixedDataTableCellGroupLayout_cellGroupWrapper:hover {
	filter: brightness(95%);
}
.public_fixedDataTableCell_cellContent {
	padding: 4px;
}
.console-debug-level {
	color: blue;
}

.fsbl-log-info {
	color: #2b8686;
	background-color: #e9fbfb;
	border-bottom: 1px solid #d2fbfb;
}
.fsbl-log-warning {
	color: #5c3b00;
	background-color: #fffbe6;
	border: 1px solid #fff5c2;
}

.fsbl-log-error {
	background-color: #fff0f0;
	border: 1px solid #ffd7d7;
	color: #ff0000;
}

.fsbl-log-verbose {
	color: gray;
}
.pull-right {
	margin-left: auto;
}
.fsbl-logger-client-row, .logger-row {
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.1em;
}
.filter-client-list {
	margin-left: 6px;
}
.fsbl-logger-client-name {
	max-width: 50%;
	display:flex;
	align-content: center;
	align-items: center;
}

.time-elapsed {
	color: gray;
	width: 100px;
	justify-content: flex-start;
	display:inline-flex;
	margin-right: 8px;
	align-self: flex-start;
}

.fsbl-logger-button {
	border: 1px solid transparent;
	border-right: 1px solid $collar-background-color;
}
.fsbl-logger-button.active {
	background-color: $active-logger-button-background !important;
	color: #f1f0f0 !important;
	border-right: 1px solid #a5b3c5 !important;
}
.fsbl-logger-button.active:hover {
	background-color: white !important;
	border:1px solid $active-logger-button-background;
	color: black !important;
}
.fsbl-logger-button:hover {
	color: #2a2a2a;
	background-color: gainsboro;
	transition: .1s ease;
}

.fsbl-logger-toggle {
	color: black;
	background-color: white;
}
.fsbl-logger-toggle:hover {
	background:  $active-logger-button-background;
	color: lighten($active-logger-button-background, 90%);
	transition: .1s ease;
}

.fsbl-logger-button i {
	vertical-align: middle;
	margin: 0 6px; }


.fsbl-logger-button-lg {
	width: 210px;
	font-size: 14pt;
	padding: 14px 0px;
	margin: 15px auto; }

.fsbl-logger-button-md {
	width: 210px;
	font-size: 13pt;
	padding: 9px 0px;
	margin: 10px auto; }

.fsbl-logger-button-sm {
	width: 70px;
	padding: 5px 0px;
	margin: 5px auto; }

.fsbl-log  {
	font-family: Consolas;
	font-size: 1.1em;
	user-select: initial;
}
.delta-box-wrapper {
	margin-left: 12px;
}
.fsbl-logger-row-diff {
	font-size: 1.1em;
	background-color: gainsboro;
	padding: .25em;
	text-align: center;
	font-weight: 400;
}
.logger-button-margin-left {
	margin-left: 6px;
}
.fsbl-logger-row-diff-okay {
	background-color: green;
	color: white;
}
.top-collar {
	border-bottom: 1px solid $collar-border-color;
	background-color: $collar-background-color;
	margin-bottom: 0px;
}
.top-border {
	margin-top:8px;
	border-top: 1px solid $collar-border-color;
}
#displayControl {
	border-bottom: 1px solid $collar-border-color;
	padding-bottom: 6px;
}
.top-collar .fsbl-logger-button {
	border: 0px;
	box-shadow:none;
	background-color: transparent;
	margin-top:0px;
	margin-bottom:0px;
	padding: .5em;
}
.top-collar .fsbl-logger-button:hover {
	background-color: #e5e5e5;
}
.fsbl-logger-row-diff-slow {
	background-color: #ffe900;
	color: #5a5a5a;

}

.top-toggle-buttons {
	padding-left: 77px;
}
.fsbl-logger-row-diff-very-slow {
	background-color: orange;
	color: white;

}

.fsbl-logger-row-diff-beyond-help {
	background-color: red;
	color: white;

}
.fsbl-plaintext-message-wrapper {
	border-top: 1px solid transparent;
	border-bottom: 1px solid rgb(240, 240, 240);
	padding: .5em;
	align-self:flex-start;
	padding-left:.5em;
}
.active-console-row {
	border-top: 1px solid #aeaef1;
    border-bottom: 1px solid #aeaef1 !important;
	background-color: #e7f3fd;
}
.console-message-wrapper.console-warning-level {

}
.fsbl-plaintext-log-message {
	width: 100%;
}
.fsbl-plaintext-log-message  {

}
.fsbl-plaintext-message {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fsbl-plaintext-extra-info {
	max-width: 300px;
    display: flex;
    justify-content: flex-end;
	white-space: nowrap;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 10px;
}
.fsbl-plaintext-number {
	color: blue;
}
.fsbl-plaintext-timestamp {
	color: blue;
}
.fixed-header {
	border-bottom: 1px solid #f0f0f0;
	z-index: 1000;
}
/*widgets*/
.ciq--div {
	padding: .25em; }

.flex-start {
	align-self: flex-start; }

/* Gives the control icons the proper width on websites using bootstrap. */
i, i:before, i:after, .fsbl-window-manager-icon {
	box-sizing: content-box; }

body.dialog input:focus {
	border: 1px solid #039bff; }

/* perfect-scrollbar v0.6.12 */
.ps-container {
	touch-action: none;
	overflow: hidden !important;
 }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.ps-container {
		overflow: auto !important; } }

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
	display: block;
	background-color: transparent; }

.ps-container.ps-in-scrolling {
	pointer-events: none; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
	background-color: #eee;
	opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
	background-color: #999; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
	background-color: #eee;
	opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: #999; }

.ps-container > .ps-scrollbar-x-rail {
	display: none;
	position: absolute;
	/* please don't change 'position' */
	opacity: 0;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	-moz-transition: background-color .2s linear, opacity .2s linear;
	-o-transition: background-color .2s linear, opacity .2s linear;
	transition: background-color .2s linear, opacity .2s linear;
	bottom: 0px;
	/* there must be 'bottom' for ps-scrollbar-x-rail */
	height: 15px; }

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
	position: absolute;
	/* please don't change 'position' */
	background-color: #aaa;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
	transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
	-moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
	-o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
	transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
	transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
	bottom: 2px;
	/* there must be 'bottom' for ps-scrollbar-x */
	height: 6px; }

.ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x, .ps-container > .ps-scrollbar-x-rail:active > .ps-scrollbar-x {
	height: 11px; }

.ps-container > .ps-scrollbar-y-rail {
	display: none;
	position: absolute;
	/* please don't change 'position' */
	opacity: 0;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	-moz-transition: background-color .2s linear, opacity .2s linear;
	-o-transition: background-color .2s linear, opacity .2s linear;
	transition: background-color .2s linear, opacity .2s linear;
	right: 0;
	/* there must be 'right' for ps-scrollbar-y-rail */
	width: 15px; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	position: absolute;
	/* please don't change 'position' */
	background-color: #aaa;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
	transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
	-moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
	-o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
	transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
	transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
	right: 2px;
	/* there must be 'right' for ps-scrollbar-y */
	width: 6px; }

.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
	width: 11px; }

.ps-container:hover.ps-in-scrolling {
	pointer-events: none; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
	background-color: #eee;
	opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
	background-color: #999; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
	background-color: #eee;
	opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: #999; }

.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
	opacity: 0.6; }

.ps-container:hover > .ps-scrollbar-x-rail:hover {
	background-color: #eee;
	opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
	background-color: #999; }

.ps-container:hover > .ps-scrollbar-y-rail:hover {
	background-color: #eee;
	opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
	background-color: #999; }

.ps-container:hover > .ps-scrollbar-y-rail:hover {
	background-color: transparent;
	width: 6px; }

.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
	width: 9px; }

.ps-container > .ps-scrollbar-y-rail {
	right: 6px !important; }

body.menu {
	margin: 0px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	height: 100%;
	-webkit-user-select: none;
	background-color: white; }

.menu-header {
	display: flex;
	flex-direction: row; }

.menu-section-label {
	padding: 10px 0 10px 20px;
	color: #039bff;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Roboto Condensed;
	width: 100%; }

.menu {
	background: #fff;
	color: black; }

.menu ul {
	list-style-type: none;
	width: 100%;
	padding-left: 0;
	margin-top: 0px;
	margin-bottom: 0px; }

.menu-secondary {
	background: #ECF0F1;
	padding-bottom: 10px;
	padding-top: 10px; }

.menu-primary .menu-item:hover {
	background: #ECF0F1; }

.menu-secondary .menu-item:hover {
	background: #DADFE1; }

.menu-item {
	display: flex;
	flex-direction: row;
	padding-left: 20px;
	cursor: pointer; }

.menu-item-function {
	padding: 6px 0px 6px 20px; }

.menu-item-label {
	align-self: flex-start;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 8px 0px;
	height: 100%;
	flex: .75; }

.menu-item-actions {
	align-self: center;
	display: flex;
	justify-content: center;
	flex: .14; }

.menu-action {
	display: flex;
	padding: 0em .25em 0em .25em; }

.app-launcher-pinned, .app-launcher-component-pinner:hover {
	color: #039bff; }

.app-launcher-delete:hover {
	color: #EF1436; }


.divStyleGreen {
		color: green;
		margin: 0px;
		padding: 0px;
		white-space:nowrap;
}

.allStyle { margin: 4px; height: 18px; vertical-align: center; color: #106020; background-color: white }

.paddingStyle {	-webkit-padding-start: 4px }

.sepStyle { margin: 12px }

.labelStyle {}

.filterStyle { width: 50px }

.checkStyle {  vertical-align: bottom }
.ulStyle div:nth-child(2n) {
	background-color: $collar-background-color;
}
.ulStyle {
	margin-top: 6px;
	-webkit-padding-start: 0px;
	padding-top: 6px;
	border-top: 1px solid $collar-border-color
}
.clientStyle {
		color: #164ba0;
		width: 260px;
		display: inline-block;
		text-align: left;
		font-weight: 500;
	}

	.fileStyle { margin: 25px; color: red }

	.button5Style { height: 10px; vertical-align: center; color: white; background-color: #157c29; margin-right: 3px; }
	.checkStyle {  vertical-align: bottom; height: 14px }

	.fsbl-logger-toggle-all-span {
		margin: 50px;
	}

	hr {
		width: 100%;
	}
	.toggleDiv {
		height: 10px;
		white-space: nowrap;
		padding-left: 404px;
		color: white;
	}

	.lineCount {
		padding-top: 2px;
		padding-left: 5px;
		font-size: 12px;
	}
	input {
		border: 1px solid #d0d0d0;
		padding: 1px 0px 1px 5px;
		width: 150px;
	}
	.h-separator {
		display: inline;
		border-right: 1px solid lightgrey;
		padding-right: 10px;
		margin-right: 10px;
	}
.checkbox {
	width:14px;
	height:14px;
	display:inline-flex;
	align-content: center;
	padding:2px;
	border-radius: 50%;
	border: 1px solid  #abc5aa;
	cursor: pointer;
	margin: 0px 5px;
}
.inline-checkbox {
	display: inline-flex;
}
.checkbox.active > .checkbox-background, .checkbox:hover > .checkbox-background {
	background-color: #09a506
}

.checkbox-background {
	background-color: $inactive-logger-button-background;
	width: 100%;
    height: 100%;
    border-radius: 50%;
}
/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

 * {
    /* This is required for correct sizing of flex items because we rely
     * on an old version of the flexbox spec.
     * Longer-term we should remove this, see crbug.com/473625 */
    min-width: 0;
    min-height: 0;
}

:host-context(.platform-mac) .monospace,
:host-context(.platform-mac) .source-code,
.platform-mac .monospace,
.platform-mac .source-code {
    font-size: 11px !important;
    font-family: Menlo, monospace;
}

:host-context(.platform-windows) .monospace,
:host-context(.platform-windows) .source-code,
.platform-windows .monospace,
.platform-windows .source-code {
    font-size: 12px !important;
    font-family: Consolas, Lucida Console, Courier New, monospace;
}

:host-context(.platform-linux) .monospace,
:host-context(.platform-linux) .source-code,
.platform-linux .monospace,
.platform-linux .source-code {
    font-size: 11px !important;
    font-family: dejavu sans mono, monospace;
}

.source-code {
    font-family: monospace;
    font-size: 11px !important;
    white-space: pre-wrap;
}

* {
    box-sizing: border-box;
}

:focus {
    outline-width: 0;
}

img {
    -webkit-user-drag: none;
}

iframe,
a img {
    border: none;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

iframe.fill {
    width: 100%;
    height: 100%;
}

.widget {
    position: relative;
    flex: auto;
    contain: layout style;
}

.hbox {
    display: flex;
    flex-direction: row !important;
    position: relative;
}

.vbox {
    display: flex;
    flex-direction: column !important;
    position: relative;
}

.view-container > .toolbar {
    border-bottom: 1px solid #eee;
}

.flex-auto {
    flex: auto;
}

.flex-auto-important {
    flex: auto !important;
}

.flex-none {
    flex: none;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overflow-auto {
    overflow: auto;
}

iframe.widget {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hidden {
    display: none !important;
}

.monospace {
    font-size: 10px !important;
    font-family: monospace;
}

.highlighted-search-result {
    border-radius: 1px;
    padding: 1px;
    margin: -1px;
    background-color: rgba(255, 255, 0, 0.8);
}

.-theme-with-dark-background .highlighted-search-result,
:host-context(.-theme-with-dark-background) .highlighted-search-result {
    background-color: hsl(133, 100%, 30%);
    color: #333;
}

.link {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(17, 85, 204);
}

.highlighted-search-result.current-search-result {
    border-radius: 1px;
    padding: 1px;
    margin: -1px;
    background-color: rgba(255, 127, 0, 0.8);
}

.dimmed {
    opacity: 0.6;
}

.editing {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2),
                0 2px 4px rgba(0, 0, 0, 0.2),
                0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-overflow: clip !important;
    padding-left: 2px;
    margin-left: -2px;
    padding-right: 2px;
    margin-right: -2px;
    margin-bottom: -1px;
    padding-bottom: 1px;
    opacity: 1.0 !important;
}

.editing,
.editing * {
    color: #222 !important;
    text-decoration: none !important;
}


.chrome-select:enabled:active,
.chrome-select:enabled:focus,
.chrome-select:enabled:hover {
    background-color: hsl(0, 0%, 96%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.chrome-select:enabled:active {
    background-color: #f2f2f2;
}

.chrome-select:enabled:focus {
    border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(66, 133, 244, 0.4);
}

.chrome-select:disabled {
    opacity: 0.38;
}

.chrome-select optgroup,
.chrome-select option {
    background-color: #EEEEEE;
    color: #222;
}

:not(.platform-mac).-theme-with-dark-background ::-webkit-scrollbar,
:host-context(:not(.platform-mac).-theme-with-dark-background) ::-webkit-scrollbar {
    width: 14px;
}

:not(.platform-mac).-theme-with-dark-background ::-webkit-scrollbar-track,
:host-context(:not(.platform-mac).-theme-with-dark-background) ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.3);
}

:not(.platform-mac).-theme-with-dark-background ::-webkit-scrollbar-thumb,
:host-context(:not(.platform-mac).-theme-with-dark-background) ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #333;
    -webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
}

.gray-info-message {
    text-align: center;
    font-style: italic;
    padding: 6px;
    color: #888;
    white-space: nowrap;
}

label[is=dt-icon-label] {
    flex: none;
}

.full-widget-dimmed-banner a {
    color: inherit;
}

.full-widget-dimmed-banner {
    color: #777;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 13px;
    overflow: auto;
    z-index: 500;
}

[is=ui-icon] {
	display: inline-flex;
	align-self: flex-start;
    flex-shrink: 0;
}

.-theme-with-dark-background [is=ui-icon].icon-invert,
:host-context(.-theme-with-dark-background) [is=ui-icon].icon-invert {
    filter: invert(80%) hue-rotate(180deg);
}

[is=ui-icon].icon-mask {
    background-color: rgb(110, 110, 110);
}

.spritesheet-smallicons:not(.icon-mask) {
    background-image: url(smallIcons.png);
}

.spritesheet-smallicons.icon-mask {
    -webkit-mask-image: url(smallIcons.png);
}

.spritesheet-largeicons:not(.icon-mask) {
    background-image: url(largeIcons.png);
}

.spritesheet-largeicons.icon-mask {
    -webkit-mask-image: url(largeIcons.png);
}

.logger-view-small {
	.topDiv .logger-row,  .advanced-controls .logger-row {
		flex-direction: column;
		flex-wrap: wrap;
	}

	.topDiv .logger-row > .fsbl-logger-button-group,  .advanced-controls .logger-row > .fsbl-logger-button-group {
		width: 100%;
	}
}

.client-list-small {
	.fsbl-logger-client-row {
		flex-direction: column;
		align-items: flex-start;
	}
	.fsbl-logger-client-name {
		width: 100%;
	}
	.top-toggle-buttons {
		padding-left: 0px;
	}
}
.topDiv .logger-row,  .advanced-controls .logger-row {
	margin-bottom: 0;
	border-bottom: 1px solid $collar-border-color;
}

.public_fixedDataTableCell_cellContent .highlighted-message {
	position: absolute;
	top: 2px;
	left: 0;
}
$match-0: #119DA4;
$match-1: rgb(163, 209, 151);
$match-2: #12355B;
$match-3: rgb(189, 192, 191);

.match-searchBox {
	background-color: yellow;
}

[class^="filter-"] {
	border-radius: 2px;
}

.filter-0 {
	box-shadow: inset 0px 0px 1px 1px $match-0;
}

.filter-1 {
	box-shadow: inset 0px 0px 1px 1px darken($match-1, 25%);
}

.filter-2 {
	box-shadow: inset 0px 0px 1px 1px $match-2;
}

.filter-3 {
	box-shadow: inset 0px 0px 1px 1px darken($match-3, 25%);
}

.match-0 {
	background-color: $match-0;
	color:white;
}

.match-1 {
	background-color: $match-1;
}

.match-2 {
	background-color: $match-2;
	color: white;
}

.match-3 {
	background-color: $match-3;
}

.multiple-matches {
	background-color: #795C5F;
	color: white;
}

.active-console-row .match-searchBox {
	background-color: #FFB86F;
}
.Logger {
	display:flex;
	flex-direction: column;
}

.log-content {
	display:flex;
	flex-direction: row;
}
.left-panel, .right-panel {
	display:flex;
	flex-direction: column;
}
.left-panel {
	width: 500;
}

.right-panel {
	flex: 1 1 auto;
}